{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la page Particulier{% endblock %}

{% block body %}
<div class='formParticulier' style='text-align: center'>
<h2>Bienvenue sur la page particulier</h2>
{{form(formParticulier)}}
</div>
{% endblock %}
