{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div style="text-align: center">
    <button><a href="{{path('app_inscription_particulier')}}">Particulier</a></button>
    <button><a href="{{path('app_inscription_pro')}}">Pro</a></button>  
</div>
{% endblock %}
