{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div>
    <a href="http://mga/accueil/inscription/particulier">Particulier</a>
    <a href="http://mga/accueil/inscription/pro">Pro</a>
    <!-- <input type="button" href="/particulier" value="Particulier">
    <input type="button" href="/pro" value="Pro"> -->
</div>
{% endblock %}
